doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title gulp-starter by greeschenko
        link(href='css/main.min.css', rel='stylesheet')
        link(href='css/libs.css', rel='stylesheet')
    body
        .container
            h1
                i.fa.fa-eercast
                span  greeschenko/gulp-starter
            br
            br
            .row
                .col-md-4
                    li "gulp": "^3.9.1",
                    li "gulp-autoprefixer": "^3.1.0",
                    li "gulp-pug": "^1.1.0",
                    li "gulp-livereload": "^3.8.1",
                    li "gulp-sass": "^2.3.2",
                .col-md-4
                    li "jquery": "^3.1.0",
                    li "bootstrap": "^3.3.7",
                    li "components-font-awesome": "^4.7.0"
            .line-wrap
                .line
    footer
    script(src='js/libs.js')
    script(src='js/main.min.js?ver=0.0.2')
